/* Custom CSS adjustments to augment Tailwind */
html {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* Custom layout styling inspired by coreent.net minimalist frames */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
    background: #222222;
}
::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

/* Force brutalist Syncopate titles to pack together closely */
font-['Syncopate'] {
    letter-spacing: -0.05em;
}
